<!DOCTYPE html>
<html>
  <head>
    <title>HelpJuiceTest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'styles/layout/application' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "javascripts/#{params[:controller]}" %>
  </body>
</html>
